table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    text-align: left;
    padding: 8px;
  }
  .text-center>h2{
    font-family: sans-serif;
    color: rgb(40, 40, 87);
  }
 